# Used for testing twitch auth integration with Supabase CLI
AUTH_EXTERNAL_TWITCH_CLIENT_ID=
AUTH_EXTERNAL_TWITCH_SECRET=

# Used for pushing the Docker API to Github when I run out of Github Actions credits :(
GHCR_USER=
GHCR_TOKEN=
GHCR_IMAGE=