.env
.env.local
!.env.example
!/apps/web/public/.env

/example-data/
README.Docker.md
/tmp/*


# /public/aim-trainer/

# dependencies
/node_modules
/.pnp
.pnp.js
id_rsa
.swc/
DEPLOY.ps1
/apps/web/dist/
/apps/web/node_modules/

# testing
/coverage

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/dist/