RewriteEngine on

<IfModule mod_headers.c>
  Header set Cross-Origin-Opener-Policy "same-origin"
  Header set Cross-Origin-Embedder-Policy "require-corp"
</IfModule>

# Redirect to URL without .html at the end
RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

# Allow for URL without .html trailing
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]

# Redirect to URL without .php at the end
RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R]

# Allow for URL without .php trailing
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Use index.html as the default directory index
DirectoryIndex index.html

# React Router handling
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [QSA,L]

<FilesMatch "\.(ico|png|jpg|jpeg|gif)$">
    Header set Cache-Control "max-age=2592000, public"
</FilesMatch>

# Specific rewrite rules for OAuth callbacks
RewriteRule ^spotify/oauth/callback$ /php/spotifyOAuthCallback.php [L]
RewriteRule ^twitch/oauth/callback$ /php/twitchOAuthCallback.php [L]

# Custom error documents
ErrorDocument 404 /404.html
