@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes text-gradient-y {
    0% {
        background-position: 50% 0%;
    }
    100% {
        background-position: 50% 100%;
    }
}

@layer base {
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none !important;
        margin: 0;
    }
    input[type='number'].appearance-none {
        -moz-appearance: textfield !important;
    }
    body {
        @apply font-sans;
        font-weight: bold;
        letter-spacing: 0.05em;
    }
}

@layer utilities {
    .hex-gradient {
        position: relative;
        isolation: isolate;
        --hex-gradient: linear-gradient(
            to right,
            rgba(245, 158, 11, 0.3),
            rgba(244, 63, 94, 0.3),
            rgba(192, 38, 211, 0.3)
        );
    }
    .hex-gradient::before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: 1;
        pointer-events: none;
        border-radius: inherit;
        background-image: var(--hex-gradient);
        -webkit-mask-image: url('data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2728%27 height=%2749%27 viewBox=%270 0 28 49%27%3E%3Cg fill-rule=%27evenodd%27%3E%3Cg fill=%27%23fff%27 fill-rule=%27nonzero%27%3E%3Cpath d=%27M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z%27/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
        mask-image: url('data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2728%27 height=%2749%27 viewBox=%270 0 28 49%27%3E%3Cg fill-rule=%27evenodd%27%3E%3Cg fill=%27%23fff%27 fill-rule=%27nonzero%27%3E%3Cpath d=%27M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z%27/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
        -webkit-mask-size: 28px 49px;
        mask-size: 28px 49px;
        -webkit-mask-repeat: repeat;
        mask-repeat: repeat;
    }
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: var(--tertiary-colour);
    outline: none;
    opacity: 1;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    position: relative;
}

.slider:focus-visible::before {
    content: '<';
    font-size: 30px;
    left: -19px;
    top: -22px;
    position: absolute;
    color: var(--accent-colour);
}
.slider:focus-visible::after {
    content: '>';
    font-size: 30px;
    right: -19px;
    top: -22px;
    position: absolute;
    color: var(--accent-colour);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--accent-colour);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--accent-colour);
    cursor: pointer;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes wobble {
    0%,
    100% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(65%);
    }
}

.animate-spin {
    animation: spin 1.3s linear infinite;
}

.animate-wobble {
    animation: wobble 1.3s ease-in-out infinite;
}
