@media (max-width: 767px) {
    .passwordGenerator {
        input[type="text"] {
            padding: 4px 80px 4px 20px !important;
        }

        .options {
            display: flex;
            width: 100%;
            // background-color: red;
            flex-direction: column;

            .sliderSection {
                width: 100%;
                margin: 1em 0px 2em 0px;
            }

            .additionalOptions {
                margin-left: unset;

                div {
                    label {
                        // display: inline-block;
                        justify-content: center;
                        justify-items: end;
                        display: grid;
                        grid-template-columns: 35% 50%;
                        gap: 0;
                        span {
                            justify-self: start !important;
                        }
                    }
                }
            }
        }
    }
}
