footer {
    position: relative;
    bottom: 0px;
    left: 50%;
    translate: -50% 150%;
    width: max-content;
    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        padding: 0px;
        height: 30px;
        li {
            margin: 0px 10px;
            width: 33px;
            text-align: center;
            a {
                color: var(--footer-svg);
                &:focus {
                    color: var(--accent-colour);
                    svg {
                        height: 32px;
                    }
                }
                svg {
                    height: 28px;
                    width: auto;
                    margin-right: 5px;
                    transition: height 0.5s ease-in-out;
                    mix-blend-mode: difference;
                    // filter: var(--footer-drop-shadow);
                }
            }

            &:hover {
                a {
                    svg {
                        height: 32px;
                    }
                }
            }
        }
    }
}
.cls-1 {
    fill: none;
    stroke: currentColor;
    stroke-miterlimit: 10;
    stroke-width: 45px;
}
