@media (max-width: 767px) {
    footer {
        translate: -50% 0%;
        ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            padding: 0px;
            height: 20px;
            li {
                margin: 0px 10px;
                width: 16px;
                text-align: center;
                a {
                    color: var(--footer-svg);
                    svg {
                        height: 20px;
                        width: auto;
                        margin-right: 5px;
                        transition: height 0.5s ease-in-out;
                        mix-blend-mode: difference;
                        // filter: var(--footer-drop-shadow);
                    }
                }

                &:hover {
                    a {
                        svg {
                            height: 25px;
                        }
                    }
                }
            }
        }
    }
    .cls-1 {
        fill: none;
        stroke: currentColor;
        stroke-miterlimit: 10;
        stroke-width: 45px;
    }
}
