.minifier {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 25px;

    .description {
        text-align: center;
        padding: 0px 12px;

        h2 {
            font-size: 20px;
        }
    }

    textarea {
        resize: vertical;
        font-size: 16px;
        border-radius: 4px;
        background-color: var(--body-background-colour);
        color: var(--font-colour);
        // outline: solid 1px var(--accent-colour);
        // border: none;
    }

    .buttons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        padding-top: 12px;

        button {
            width: 50%;
            padding: 8px;
            border-radius: 4px;
            background-color: var(--button-colour);
            color: var(--main-font-colour);
            outline: solid 1px var(--accent-colour);
            border: none;

            &:hover {
                cursor: pointer;
                background-color: var(--button-hovor-colour);
                color: var(--button-hovor-font-colour);
                outline: none;
            }
        }
    }
}
