@media (max-width: 767px) {
    .dropZone {
        flex-direction: column-reverse;

        label {
            width: 100% !important;
            padding: 12px !important;
            text-align: center !important;
        }

        .svgContainer {
            width: 100% !important;

            svg {
                padding: 10px 20px !important;
            }
        }
    }
}
