.buttonPlayPauseContainer {
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:
        0 0 5px rgba(0, 0, 0, 0.15),
        0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin: 0px 20px;

    .paused {
        width: 2px;
        height: 50%;
        background-color: black;
        position: absolute;
        left: 15px;
        border-radius: 500px;

        &::after {
            position: absolute;
            width: 2px;
            height: 100%;
            background-color: black;
            content: "";
            left: 8px;
            border-radius: 500px;
        }
    }

    .playing {
        width: 2px;
        height: 50%;
        background-color: black;
        position: absolute;
        left: 15px;
        border-radius: 500px;

        &::before {
            position: absolute;
            width: 2px;
            height: 86%;
            background-color: black;
            content: "";
            top: 6px;
            left: 6.5px;
            transform: rotate(55deg);
            border-radius: 500px;
        }

        &::after {
            position: absolute;
            width: 2px;
            height: 86%;
            background-color: black;
            top: -3.1px;
            left: 6.5px;
            transform: rotate(305deg);
            content: "";
            border-radius: 500px;
        }
    }
}
