.customToggle {
    height: 15px;
    width: 30px;
    border-radius: 7.5px;
    display: inline-block;
    position: relative;
    margin: 0 0 0 15px;
    border: 1.5px solid #474755;
    background: linear-gradient(180deg, #2d2f39 0%, #1f2027 100%);
    transition: all 0.2s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;

    &:focus {
        outline: 0;
    }

    // toggle knob
    &:after {
        content: "";
        position: absolute;
        top: 0.6px;
        left: 0.6px;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.747);
        box-shadow: 0 0.5px 1px rgba(44, 44, 44, 0.2);
        transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
    }

    &:checked {
        border-color: #ff0033ce;
        background: linear-gradient(180deg, #ff0000 0%, #ff0033 100%);

        &:after {
            transform: translateX(15px);
            background: white;
        }
    }
}
