header {
    nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 47px;
        position: relative;
        background-color: var(--nav-background-colour);

        ul {
            margin: 0px;
            padding: 0px;
            display: flex;
            flex-direction: row;
            height: inherit;

            li {
                list-style-type: none;
                display: flex;
                background-color: var(--nav-background-colour);
                align-items: center;

                &:first-child {
                    padding-left: 0px;
                }

                &:last-child {
                    position: absolute;
                    right: 0px;
                    height: 47px;
                    a {
                        margin-right: 10px;
                        padding: 8px 12px;
                    }
                }

                a {
                    color: var(--nav-font-colour);
                    text-align: center;
                    display: flex;
                    align-items: center;
                    padding: 0px 16px;
                    text-decoration: none;
                    font-size: 17px;
                    height: 100%;
                    width: 100%;

                    &:hover {
                        background-color: var(--nav-active-background-colour);
                        color: var(--nav-active-font-colour);
                    }

                    span {
                        width: 100%;
                        height: 100%;
                        svg {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            .active {
                background-color: var(--nav-active-background-colour);
                color: var(--nav-active-font-colour);
                a {
                    color: var(--nav-active-font-colour);
                }
            }
        }
    }
}
