GO_ENV=
PORT=
DATABASE_URL_IPV6=
DATABASE_URL=
BUNGIE_CLIENT_ID=
STEAM_CLIENT_ID=

DISCORD_USER_ID=
DISCORD_WEBHOOK_URL=

ENCRYPTION_KEY=

PLEX_USERNAME=
PLEX_API_URL=
PLEX_X_TOKEN=
PLEX_WEBHOOK_SECRET=