GO_ENV=development
DATABASE_URL=postgresql://postgres:[password]@127.0.0.1:5432/postgres

WEB_URL=http://localhost:5173
VERCEL_URL=
API_URL=http://localhost:8080
TELEMETRY_API_KEY=
ENCRYPTION_KEY=
REDIS_PASSWORD=
BUNGIE_CLIENT_ID=
STEAM_CLIENT_ID=
ANILIST_CLIENT_ID=
ANILIST_CLIENT_SECRET=
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
DISCORD_USER_ID=
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1448604930758803512/OZKW_4E7YJXTugPzxfwrOHop58xI3Ab0b3cEx7Y2IroGPUXMMtVv5qyQjS1SV7fXwfiz
PLEX_USERNAME=
PLEX_X_TOKEN=-
PLEX_API_URL=https://192-168-0-209.d74eb6e6f8044780a638f367f4ff894b.plex.direct:32400
PLEX_WEBHOOK_SECRET=
REQUEST_CAPTURE_API_KEY=
REQUEST_CAPTURE_MAX_BODY_BYTES=26214400