
# postgres
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432

# lesidev
WEB_URL=
ENCRYPTION_KEY=
REDIS_PASSWORD=
BUNGIE_CLIENT_ID=
STEAM_CLIENT_ID=
ANILIST_CLIENT_ID=
ANILIST_CLIENT_SECRET=
ANILIST_REDIRECT_URI=
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_REDIRECT_URI=
DISCORD_USER_ID=
DISCORD_WEBHOOK_URL=
PLEX_USERNAME=
PLEX_X_TOKEN=-
PLEX_API_URL=
PLEX_WEBHOOK_SECRET=

# pgadmin
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
PG_ADMIN_PORT=
